# App configuration

APP_URL="" # Replace with your app url, for example : "https://docs.sentience-robotics.tech/"
APP_SECRET="" # Replace with your app secret, generated with `openssl rand -hex 32`
SMTP_USERNAME="" # replace with smtp username
SMTP_PASSWORD="" # replace with smtp password

# Proton Drive and Rclone configuration

RCLONE_REMOTE_NAME="protondrive-api-bridge" # Name of the Rclone Remote, needed to communicate with Proton Drive inside the scripts
PROTON_DRIVE_BACKUP_DIRECTORY="docmost_backups" # Path specyfing where the backups should be stored on Proton Drive

# PostgreSQL configuration

PG_PASSWORD="" # Replace with the PostgreSQL password