# App configuration

APP_URL="" # For example : "https://docs.sentience-robotics.fr/"
APP_SECRET="" # Generated with `openssl rand -hex 32`

# PostgreSQL configuration

PG_PASSWORD=""

# Backups configuration
DOCMOST_CONTAINER_NAME="docmost_instance"
DB_CONTAINER_NAME="postgresql_instance"

# SMTP configuration (optional)
SMTP_USERNAME=""
SMTP_PASSWORD=""

# Proton Drive and Rclone configuration (set to USE_RCLONE=true to use it)

USE_RCLONE=false
RCLONE_REMOTE_NAME="protondrive-api-bridge" # Name of the Rclone Remote, needed to communicate with Proton Drive inside the scripts
PROTON_DRIVE_BACKUP_DIRECTORY="docmost_backups" # Path specyfing where the backups should be stored on Proton Drive

